/* CART
============================================================================ */
.cart-container {
    .cart--item {
        display: flex;
        align-items: center;
        flex-flow: row;
        padding: 20px;
				border-bottom: 1px solid get($color, 'header', 'border');
				@include media('<=phone') {
					display: block;
				}
    }

    .cart--item-offer {
        flex: 1;
        font: $fw-regular 16px/20px $ff-PT-Sans;

        .article {
            margin-right: 5px;
            font-size: 14px;
        }

        .cart--item-offer--link {
            text-decoration: none;
            color: get($color, 'link', 'base');

            &:hover {
                color: get($color, 'link', 'hover');
            }
        }
    }

    .cart--item-quantity {
        margin-left: 30px;
        width: 60px;

        input {
            padding: 5px 10px;
            height: 24px;
            width: 100%;
            border: 1px solid get($color, 'content', 'border');
            outline: 0 none;
            box-sizing: border-box;
            font: normal 14px/24px $ff-PT-Sans;
            color: get($color, 'text', 'base');
						background-color: #FFF;
						@include media('<=phone') {
							margin-left: 100%;
							text-align: center;
							margin-top: 10px;
						}
        }

        &.error {
            input {
                border-color: $color-accent;
            }
        }
    }

    .cart--item-quantity--error {
        margin-top: 5px;
        font: normal 13px/16px $ff-PT-Sans;
        color: $color-accent;

        .errorlist {
            @include clear-list;
        }
    }

    .cart--item-unit_price {
        margin-left: 20px;
        font: $fw-bold 14px/14px $ff-Roboto;
				color: get($color, 'text', 'light');
				@include media('<=phone') {
					margin-left: 35%;
					padding-top: 10px;
				}

        &:after {
            @include fa-icon;
            content: $fa-var-rub;
            margin-left: 5px;
            font-size: 12px;
        }
    }

    .cart--item-total_price {
        margin-left: 10px;
        font: $fw-bold 14px/14px $ff-Roboto;
				color: get($color, 'text', 'base');
				@include media('<=phone') {
					margin-left: 35%;
					padding-top: 10px;
				}

        &:after {
            @include fa-icon;
            content: $fa-var-rub;
            margin-left: 5px;
            font-size: 12px;
        }
    }

    .cart--item-delete {
				margin-left: 30px;

        .cart--item-delete--link {
            text-decoration: none;
						color: get($color, 'link', 'base');
						@include media('<=phone') {
							margin-left: 35%;
						}

            &:hover {
                color: get($color, 'link', 'hover');
            }

            &:after {
                @include fa-icon;
                content: $fa-var-trash;
								font-size: 16px;
								@include media('<=phone') {
									font-size: 20px;
									padding-top: 10px;
								}
            }
        }
    }

    .cart-info {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: flex-start;
        border-radius: 0 0 $base-radius $base-radius;
				background-color: get($color, 'nav', 'background');
				@include media('<=phone') {
					display: block;
					padding: 10px;
				}

        .cart-info--save {
            flex: 1;
            box-sizing: border-box;
						padding-left: 20px;
						@include media('<=phone') {
							padding: 0;
						}

            .submit {
                display: inline-block;
                padding: 0 15px;
                height: 38px;
                border: 0 none;
                border-radius: 5px;
                font: $fw-medium 12px/38px $ff-Roboto;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                color: get($color, 'button', 'normal', 'text');
                background-color: get($color, 'button', 'normal', 'background');
                cursor: pointer;
								transition: background-color $base-transition;
								@include media('<=phone') {
									width:100%;
								}

                &:hover {
                    background-color: darken(get($color, 'button', 'normal', 'background'), 10%);
                }
            }

            .reset {
                display: inline-block;
                padding: 0 15px;
                height: 38px;
                border: 0 none;
                border-radius: 5px;
                font: $fw-medium 12px/38px $ff-Roboto;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                color: get($color, 'button', 'normal', 'text');
                background-color: get($color, 'button', 'normal', 'background');
                cursor: pointer;
                transition: background-color $base-transition;
								@include media('<=phone') {
									margin-top: 10px;
									width:100%;
								}
                &:hover {
										background-color: darken(get($color, 'button', 'normal', 'background'), 10%);
										
                }
            }
        }

        .cart-info--price {
            font: $fw-bold 18px/18px $ff-Roboto;
						color: get($color, 'nav', 'text');
						@include media('<=phone') {
							font-size: 20px;
							padding-top: 20px;
							text-align: center;
							padding-bottom: 20px;
						}

            &:after {
                @include fa-icon;
                content: $fa-var-rub;
                margin-left: 5px;
                font-size: 16px;
            }
        }

        .cart-info--send {
            .submit {
                margin-left: 30px;
                padding: 0 20px;
                height: 55px;
                border: 0 none;
                border-radius: 0 0 $base-radius 0;
                font: $fw-bold 16px/55px $ff-Roboto;
                text-transform: uppercase;
                color: get($color, 'button', 'cart', 'text');
                background-color: get($color, 'button', 'cart', 'background');
                cursor: pointer;
                transition: background-color $base-transition;
								@include media('<=phone') {
									width: 100%;
									margin: 0;
								}
                &:hover {
                    background-color: darken(get($color, 'button', 'cart', 'background'), 10%);
                }
            }
        }
    }
}
/* ------------------------------------------------------------------------- */
