/* SUBCATEGORY
============================================================================ */
.sub-categories-container {
}

.sub-categories--list {
    @include clear-list;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;
    margin-bottom: 40px;
    margin-left: -20px;

    .sub-categories--item {
        margin-top: 20px;
        padding-left: 20px;
        flex-shrink: 0;
        flex-basis: 25%;
        box-sizing: border-box;
        max-width: 25%;

        &:nth-child(-n+4) {
            margin-top: 0;
        }

        .sub-category {
            height: 100%;

            .sub-category--link {
                display: flex;
                align-items: center;
                padding: 10px 35px 10px 20px;
                height: 100%;
                min-height: 60px;
                box-sizing: border-box;
                font: $fw-regular 14px/18px $ff-Roboto;
                text-decoration: none;
                color: get($color, 'text', 'base');
            }
        }
    }
}
/* ------------------------------------------------------------------------- */


/* CATEGORY
============================================================================ */
.category-container {
    display: flex;
    align-items: flex-start;
    flex-flow: row;

    .category-filters {
        margin-right: 20px;
        width: 250px;
    }

    .category-filters--filters {
        ul {
            @include clear-list;

            li {
                label {
                    font: $fw-regular 14px/20px $ff-PT-Sans;
                    color: get($color, 'text', 'base');
                }
            }
        }

        input[type='checkbox'] {
            vertical-align: middle;
        }

        input[type='text'] {
            margin: 0;
            padding: 0 6px;
            height: 28px;
            border: 1px solid get($color, 'content', 'border');
            border-radius: 5px;
            box-sizing: border-box;
            font: $fw-regular 14px/28px $ff-PT-Sans;
            color: get($color, 'text', 'base');
        }

        .offer-filter--price {
            @include clearfix;

            .offer-filter--price-min {
                float: left;
                width: 50%;
                text-align: left;
            }

            .offer-filter--price-max {
                float: right;
                width: 50%;
                text-align: right;
            }

            input {
                width: 80px;
            }
        }

        #offer-filter--price-slider {
            margin-top: 20px;
        }
    }

    .offer-filter--wrapper {
        padding: 20px;
        border-bottom: 1px solid get($color, 'header', 'border');

        &:last-of-type {
            border-bottom: 0 none;
        }
    }

    .offer-filter--title {
        margin-top: 0;
        margin-bottom: 10px;
        font: $fw-medium 16px/20px $ff-Roboto;
        color: get($color, 'title', 'base');
    }

    .category-filters--reset {
        margin-bottom: 20px;
        text-align: center;

        .reset {
            text-decoration: none;
            font: $fw-regular 14px/20px $ff-Roboto;
            color: get($color, 'link', 'base');

            &:hover {
                color: get($color, 'link', 'hover');
            }
        }
    }

    .category-filters--button {
        .submit {
            width: 100%;
            height: 44px;
            border: 0 none;
            border-radius: 0 0 $base-radius $base-radius;
            font: $fw-medium 14px/44px $ff-Roboto;
            text-transform: uppercase;
            color: get($color, 'button', 'normal', 'text');
            background-color: get($color, 'button', 'normal', 'background');
            cursor: pointer;
            transition: background-color $base-transition;

            &:before {
                @include fa-icon;
                content: $fa-var-search;
                margin-right: 5px;
            }

            &:hover {
                background-color: darken(get($color, 'button', 'normal', 'background'), 10%);
            }
        }
    }

    .category-content {
        flex: 1;
    }

    .category-filters--has-rest {
        margin-bottom: 20px;

        label {
            font: $fw-bold 15px/1 $ff-PT-Sans;
            color: get($color, 'text', 'base');
            padding-left: 30px;
        }

        input[type='checkbox'] {
            margin-right: 3px;
            vertical-align: middle;
        }
    }

    .category-offers--item {
        display: flex;
        align-items: stretch;
        flex-flow: row;
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 0;
        }

        .offer-image {
            padding: 20px;
            width: 200px;
            box-sizing: border-box;
            text-align: center;

            img {
                vertical-align: bottom;
                max-width: 160px;
                max-height: 160px;
            }
        }

        .offer-info {
            flex: 1;
            padding: 20px;
            border-right: 1px solid get($color, 'header', 'border');

            .offer-info--title {
                margin-top: 0;
                margin-bottom: 10px;
                font: $fw-regular 16px/20px $ff-PT-Sans;

                .offer-info--title--link {
                    text-decoration: none;
                    color: get($color, 'link', 'base');

                    &:hover {
                        color: get($color, 'link', 'hover');
                    }
                }
            }

            .offer-info--offer-code {
                font: $fw-regular 13px/20px $ff-PT-Sans;
                color: get($color, 'text', 'light');
            }

            .offer-info--offer-properties {
                margin-top: 10px;

                .offer-info--offer-property {
                    font: $fw-regular 14px/20px $ff-PT-Sans;
                    color: get($color, 'text', 'lighter');
                }
            }
        }

        .offer-price {
            padding: 20px;
            width: 200px;
            box-sizing: border-box;

            .offer-price--price {
                margin-bottom: 10px;
                font: $fw-bold 20px/20px $ff-Roboto;
                color: get($color, 'title', 'base');

                &.has_price:after {
                    @include fa-icon;
                    content: $fa-var-rub;
                    margin-left: 5px;
                    font-size: 18px;
                }
            }

            .offer-price--availability {
                margin-bottom: 15px;
                font: $fw-regular 14px/20px $ff-PT-Sans;
                color: get($color, 'text', 'light');

                & > span {
                    margin-left: 5px;

                    span {
                        cursor: help;
                    }
                }
            }

            .offer-price--cart {
                .add-cart {
                    display: block;
                    height: 38px;
                    border-radius: 5px;
                    font: $fw-medium 12px/38px $ff-Roboto;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: get($color, 'button', 'cart', 'text');
                    background-color: get($color, 'button', 'cart', 'background');
                    cursor: pointer;
                    transition: background-color $base-transition;

                    &:after {
                        @include fa-icon;
                        content: $fa-var-shopping-cart;
                        margin-left: 10px;
                        font-size: 16px;
                    }

                    &:hover {
                        background-color: darken(get($color, 'button', 'cart', 'background'), 10%);
                    }
                }
            }

            .offer-price--quantity {
                margin-bottom: 10px;

                .quantity {
                    padding: 5px 10px;
                    height: 24px;
                    width: 60px;
                    border: 1px solid get($color, 'content', 'border');
                    outline: 0 none;
                    box-sizing: border-box;
                    font: normal 14px/24px $ff-PT-Sans;
                    color: get($color, 'text', 'base');
                    background-color: #FFF;
                }
            }
        }
    }

    .category-offers--paginator--wrapper {
        margin-top: 30px;
        text-align: center;
    }

    .category-offers--paginator {
        @include clear-list;
        display: inline-block;

        .category-offers--paginator--page {
            display: inline-block;
            border-right: 1px solid get($color, 'header', 'border');
            font: $fw-regular 16px/40px $ff-PT-Sans;

            &:last-of-type {
                border-right: 0 none;
            }

            a {
                display: block;
                width: 40px;
                height: 40px;
                text-decoration: none;
                color: get($color, 'text', 'base');

                &:hover {
                    color: get($color, 'link', 'hover');
                }
            }

            span {
                display: block;
                width: 40px;
                height: 40px;
                color: #FFF;
                background-color: #666;
            }

            &.previous-page {
                a, span {
                    &:before {
                        @include fa-icon;
                        content: $fa-var-angle-left;
                        vertical-align: bottom;
                        font-size: 22px;
                        line-height: 40px;
                    }
                }

                span {
                    background-color: transparent;

                    &:before {
                        color: #CCC;
                    }
                }
            }

            &.next-page {
                a, span {
                    &:before {
                        @include fa-icon;
                        content: $fa-var-angle-right;
                        vertical-align: bottom;
                        font-size: 22px;
                        line-height: 40px;
                    }
                }

                span {
                    background-color: transparent;

                    &:before {
                        color: #CCC;
                    }
                }
            }
        }
    }
   .slide-toggle{
   display:none;
   }
}
/* ------------------------------------------------------------------------- */
