/* CATEGORY
============================================================================ */
.index-catalog__section {
    .index-catalog {
        @include clear-list;
        display: flex;
        align-items: flex-start;
        flex-flow: row wrap;
        justify-content: space-between;

        .index-catalog--category {
            flex-basis: calc(50% - 10px);
            position: relative;
            margin-bottom: 20px;
            padding-top: 30%;

            &:nth-of-type(2n) {
                margin-left: 10px;
            }

            &:nth-of-type(2n+1) {
                margin-right: 10px;
            }
        }

        .index-catalog--category-link {
            display: block;
            font: $fw-bold 17px/20px $ff-Roboto;
            text-decoration: none;
            text-transform: uppercase;
            color: get($color, 'text', 'base');

            .link-title {
                position: absolute;
                top: 15px;
                right: 20px;
                left: 20px;
                z-index: 2;
            }
        }

        .index-catalog--category-bg {
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-size: cover;
        }

        .id-eb694445-9016-11e4-becf-001e6702ee3e {
            .index-catalog--category-bg {
                background-image: url('../images/paper.jpg');
            }
        }

        .id-482be32a-a2ac-11e3-a4a4-001e6702ee3e {
            .index-catalog--category-link {
                color: #FFF;
            }

            .index-catalog--category-bg {
                background-image: url('../images/furniture.jpg');
            }
        }

        .id-dc611350-8ff9-11e4-b5d8-001e6702ee3e {
            .index-catalog--category-bg {
                background-image: url('../images/needlework.jpg');
            }
        }

        .id-43ea0dcb-ad21-11db-a2b2-00c09fa8f069 {
            .index-catalog--category-bg {
                background-image: url('../images/household.jpg');
            }
        }
    }
}
/* ------------------------------------------------------------------------- */
/* slider -------------------------------------------*/
.swiper-container {
      width: 100%;
      height: 100%;
      padding-bottom: 30px;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
    /*  background: #fff;
       Center slide text vertically
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;*/
    } 
/* -------------------------------*/


/* index product */


.index-product h1{
  font: $fw-bold 19px/22px $ff-Roboto;
  text-decoration: none;
  text-transform: uppercase;
  color: get($color, 'text', 'base');
  text-align: center;
}

.index-pr {
  width: 250px;
  height: 300px;
  margin-top: 20px;
  padding-left: 20px;
  margin-left: 20px;
  box-sizing: border-box;
  display: -webkit-inline-flex;
  display: inline-flex;

}

/*----------------------------------------------*/

/* about */
.index-about {
  margin-top: 50px;
}

.index-about h1{
  display: block;
  font: $fw-bold 19px/22px $ff-Roboto;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: get($color, 'text', 'base');
}
.index-about p{
  display: block;
  font: 15px/18px $ff-Roboto;
  color: get($color, 'text', 'base');
}
.index-about a{
  text-decoration: none;
  padding: 5px;
  background: #2C7FAE;
  color: white;
  font: 15px/18px $ff-Roboto;


}

.index-about img{
  width:40%;

}
