
@media screen and (min-device-width : 320px) and (max-device-width : 480px){



/*---------------index-------------*/
	.swiper-container{
	width:100%;
		 & img {
	 	display:none;
	 	}
	}
	.slide-bg{
	width:100%;

		 & h1{
		  	font: $fw-bold 16px/22px $ff-Roboto;
		 }
		 & p{
		 	font: 14px/22px $ff-Roboto;
		 }
	}

	.index-catalog__section{ 

	.index-catalog{
		display: inherit;

	.index-catalog--category:nth-of-type(2n){
	margin-left:0;
	}
	.index-catalog--category:nth-of-type(2n+1){
	margin-right:0;
	}
	}
	}

	.index-about{
	display: inherit;
	margin-top:0;

		& a{
		margin-left:30%;
		}
	}
	.about-picture{
	width:100%;
	}
	.about-text{
	width:100%;
	}

	.footer__section{
		height:100%;
	 .footer-container{
	 	display: inherit;
	 }
	 }
	 .about-company{
	 padding-left:0;
	 }

	 .index-offers__section{
	 	display: inherit;
	 	margin-left: -10px;

	 		.category-offers--item{
	 		width:90%;

	 			.offer-info{
	 			text-align: center;
	 			} 
	 		}
	 		.offer-price{ 

	 		.offer-price--price{
	 			padding-left: 30%;
	 			}
	 		.offer-price--availability{
	 			padding-left: 25%;
	 			}
	 		.offer-price--quantity{
	 			margin-left: 40%;
	 		}
	 		}
	 }
/*--------------------*/

/*--------------------category------------------*/

.sub-categories--list{
	display: inherit;

 	.sub-categories--item:nth-child(-n+4){
		 margin-top:20px;
 		}

 	.sub-categories--item{
 		max-width:100%;
 		}
 }
 /*-------------------------------------------*/

 /*----------------filter---------------------*/

 .category-container{
 		display: inherit;

 		.category-filters{
 			width:100%;
 			margin-right: 0;
 		}

 		.category-filters--has-rest{
 			padding-top: 30px;
 			& label{
 			font: $fw-bold 17px/20px $ff-Roboto;
 			}
 		}
  	.category-offers--item{
  		display: inherit;

  		.offer-info{
  			text-align: center;
  		}

  		.offer-price{
  		width: 100%;
  		text-align: center;
  		}
  	}
  }

/*----------------------------------------------------*/

/*------------------------Product----------------------*/

  .offer--wrapper{ 

  	.offer-container{
  		display: inherit;

  			.offer-image{
  			 width: 100%;

  			 	& img{
  			 		max-width: 200px;
  			 		max-height: 200px;
  			 }
  			}
  			.offer-price{
  			 width: 100%;

  			 	.offer-price--price{
  			 		margin-left:30%;
  			 	}

  			 	.offer-price--quantity{
  			 		margin-left: 35%;
  			 	}
  			}
  	}
  }
}

@media screen and (min-width: 481px) and (max-width: 768px)  {
	

/*----------base-----------------------------*/
	.header__section{

	.header-slogan{
	display:none;
	}
	} 
/*-------------------------------------------*/

/*----------------------index----------------*/
	.swiper-container{
	 width:100%;

	 	& img {
	 	display:none;
	 	}
	}
	.slide-bg{
	width:100%;
	}

	.index-offers__section{

	 .category-offers--item{
	 	width: calc(50% - 20px);

	 		.offer-info{
	 			text-align: center;
	 		}
	 		.offer-price{
	 			text-align: center;
	 		}
	 }
	 }

	.index-about{
	display: inherit;
	margin-top:0;

		& a{
		margin-left:40%;
		}
	}
	.about-picture{
		width:50%;
		margin-left:25%;
	}
	.about-text{
	width:100%;
	}

	.footer__section{
		height:100%;
	 .footer-container{
	 	flex-flow:row wrap;
	 }
	 }
	 .about-company{
	 padding-left:0;
	 }

/*----------------------------------------------------------------*/

/*----------------filter---------------------*/

 .category-container{
 		display: inherit;

 		.category-filters{
 			width:100%;
 			margin-right: 0;
 		}

 		.category-filters--has-rest{
 			padding-top: 30px;
 			& label{
 			font: $fw-bold 17px/20px $ff-Roboto;
 			}
 		}
  	
  }

/*----------------------------------------------------*/


/*------------------------Product----------------------*/

  .offer--wrapper{ 

  	.offer-container{
  		display: inherit;

  			.offer-image{
  			 width: 100%;

  			 	& img{
  			 		max-width: 300px;
  			 		max-height: 300px;
  			 }
  			}
  			.offer-price{
  			 width: 80%;
  			 margin-left: 10%;

  			 	.offer-price--price{
  			 		margin-left:40%;
  			 	}

  			 	.offer-price--quantity{
  			 		margin-left: 45%;
  			 	}
  			}
  	}
  }
}