@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  .text-podpiska
    button
      left: 950px
  .header
    .registration
      font-size: 20px


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  .text-podpiska
    input
      width: 300px
    button
      left: 750px
  .header
    .logo
      width: 180px
    .slogan
      h1
        font-size: 30px
    .registration
      font-size: 16px
    .work_time
      h4
        font-size: 21px
    .search
      input
        margin: 30px 0 0 35px
        width: 300px


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  .header
    .logo
      width: 100%
    .registration
      font-size: 22px
    .work_time
      text-align: center
    .search
      input
        width: 500px
    .basket
      a
        top: 155%
  .text-podpiska
    h2
      font-size: 18px
    input
      top: 0
      left: 430px
    button
      top: 0
      left: 640px
  .s-week
    .col-sm-12
      .col-sm-2
        display: inline-block
        width: 24%
    .col-sm-12 :last-child
      width: 100%
      .foto
        img
          width: 60%
      a
        text-align: center
        span
          display: inline-block
          text-align: center
  .s-new
    .tov
      height: 300px
      img
        width: 40%


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  .header
    .search
      input
        width: 240px
  .s-sale
    .carousel-sale
      .owl-dots
        margin-top: 0
  .text-podpiska
    h2
      font-size: 18px
      margin-bottom: 60px
    input
      top: 30px
      left: 20px
    button
      top: 30px
      left: 220px


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
  .header
    .logo
      width: 100%
    .registration
      font-size: 22px
    .work_time
      display: none
    .search
      input
        width: 300px
        margin: 0
        margin-top: 50px
    .basket
      margin-top: 40px


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
