{% load static pipeline pages_tag mptt_tags %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="yandex-verification" content="0dd9f4133d1c19ee" />
    <script src="https://vk.com/js/api/openapi.js?169" type="text/javascript"></script>
    <title>{% block page_title %}{% endblock %}</title>

    {% block styles %}
        {% stylesheet 'libs' %}
        {% stylesheet 'vue' %}
        {% stylesheet 'frontend' %}
    {% endblock styles %}

    {% include 'pages/frontend/counters.html' %}
</head>

<body class="{% spaceless %}{% block body_class %}{% endblock %}{% endspaceless %}">
        <div id="vk_community_messages"></div>
        <script type="text/javascript">
        VK.Widgets.CommunityMessages("vk_community_messages", 20003922);
        </script>
        
    <header class="header__section">
        <div class="header-panel--wrapper">
            <div class="header-panel">
                <div class="header-slogan">Мы вне стандартов</div>

                <ul class="header-menu">
                    <li class="header-menu--item"><a href="{% url 'pages:static' 'покупателям' %}">Информация для покупателей</a></li>
                    <li class="header-menu--item bold"><a href="{% url 'pages:static' 'оптовикам' %}">Оптовикам</a></li>
                    <li class="header-menu--item"><a href="{% url 'pages:contacts' %}">Контакты</a></li>
                </ul>

                <div class="header-auth">{% if user.is_authenticated %}<a href="{% url 'account:index' %}">{{ user.username }}</a> | <a href="{% url 'account:logout' %}">Выйти</a>{% else %}<a href="{% url 'account:login' %}">Войти</a> | <a href="{% url 'account:registration' %}">Регистрация</a>{% endif %}</div>
            </div>
        </div>
        <div class="header-container--wrapper">
            <div class="header-container">
                <div class="header-logo">
                    <a class="header-logo--link" href="/">
                        <img srcset="{% static 'frontend/images/logo.png' %} 1x, {% static 'frontend/images/logo_2x.png' %} 2x, {% static 'frontend/images/logo_3x.png' %} 3x" src="{% static 'frontend/images/logo.png' %}" alt="logo">
                    </a>
                </div>

                <div class="header-search--wrapper">
                    <div id="search_app"></div>
                </div>

                <div class="header-phone">
                    <a class="header-phone--link" href="tel:84997146574">8(499)714-65-74</a>
                    <a class="header-phone--link" href="tel:84967128194">8 (4967) 12-81-94</a>
                </div>
            </div>
        </div>
    </header>

    <nav class="navbar__section">
        <div class="navbar-container">
            <span class="menu-toggle"><i class="fa fa-bars"></i></span>

            <ul class="navbar-menu mobile-hide drop-down">
                <li class="navbar-menu--root-item activ-catalog">
                    <a href="#" >Каталог <i class="fa fa-angle-down"></i></a>
                    <ul class="sub-menu">
                        {% recursetree full_categories %}
                            {% if node.is_published %}
                                <li>
                                    <a href="{{ node.get_absolute_url }}">{{ node }}</a>
                                    {% if not node.is_leaf_node %}
                                        <ul class="sub-menu-level-2 hide">
                                            {{ children }}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endrecursetree %}
                    </ul>
                </li>
                <li class="navbar-menu--root-item">
                    <a href="{% url 'pages:static' 'доставка' %}">Доставка</a></li>
                </li>
                <li class="navbar-menu--root-item">
                    <a href="{% url 'pages:static' 'о-компании' %}">О компании</a>
                </li>
                <li class="navbar-menu--root-item">
                    <a href="{% url 'pages:blog' %}">Мастер-классы</a>
                </li>
            </ul>

            {% block navbar_cart %}
                <div v-cloak id="navbar-cart-app" class="navbar-cart">
                    <cart-link
                        initial-amount="{{ cart.get_total_price|price|default:'0' }}"
                        href="{% url 'account:cart' %}"
                        :amount="amount"></cart-link>
                </div>
            {% endblock %}
        </div>
    </nav>

    <div class="colored-line"></div>

    {% block breadcrumbs %}
        <div class="breadcrumbs__section">
            <div class="breadcrumbs-container">
                <ul class="breadcrumbs"></ul>
            </div>
        </div>
    {% endblock %}

    <main id="{% block main_id %}offers-cart-app{% endblock %}" class="main__section" style="
        background-color: {{ background_color }};
        background-image: {% if background_image %}url('{{ background_image }}'){% else %}none{% endif %};
        background-repeat: {{ background_repeat }};
        background-attachment: {{ background_attachment }};
        background-position: 50% 0;">
        <div class="main-container">
            {% block content %}
            {% endblock content %}
        </div>
        <transition
            enter-active-class="animated zoomInUp"
            leave-active-class="animated fadeOut"
        >
            <popup
                :text="popupText"
                @close="popupText = ''"
            ></popup>
        </transition>
    </main>

    <footer class="footer__section">
        <div class="footer-container">
            <div class="footer-col">
                <span><a href="{% url 'pages:static' 'как-сделать-заказ' %}">Как сделать заказ</a></span>
                <span><a href="{% url 'pages:static' 'как-зарегистрироваться' %}">Как зарегистрироваться</a></span>
                <span><a href="{% url 'pages:static' 'оплата' %}">Оплата</a> </span>
                <span><a href="{% url 'pages:static' 'доставка' %}">Доставка</a></span>
            </div>

            <div class="footer-col">
                <span><a href="{% url 'pages:static' 'политика-конфенденциальности' %}">Политика конфеденциальности</a></span>
                <span><a href="{% url 'pages:static' 'оптовикам' %}">Оптовикам</a></span>
                <span><a href="{% url 'pages:static' 'покупателям' %}">Покупателям</a></span>
            </div>

            <div class="footer-col about-company">
                <span><a href="{% url 'pages:static' 'контакты' %}">Контакты</a></span>
                <span><a href="{% url 'pages:static' 'о-компании' %}">Почему мы?</a></span>
            </div>

            <div class="footer-col">
                <div class="footer-contact">
                    <p><a href="mailto:info@kancmiropt.ru">Info@kancmiropt.ru</a></p>
                    <p><a href="tel:+74967128194">8 (4967) 12-81-94</a></p>
                    <div class="social">
                        <h2>Мы в социальных сетях</h2>
                        <p>
                            <a href="https://ok.ru/group/58302774575161" title="Группа в одноклассниках"><i class="fa fa-odnoklassniki"></i></a>
                            <!-- <a href="https://www.facebook.com/%D0%9C%D0%B0%D0%B3%D0%B0%D0%B7%D0%B8%D0%BD-%D0%9A%D0%B0%D0%BD%D1%86%D0%B5%D0%BB%D1%8F%D1%80%D1%81%D0%BA%D0%B8%D0%B9-%D0%BC%D0%B8%D1%80-303562077033229/" title="Группа Вконтакте"><i class="fa fa-facebook"></i></a> -->
                            <a href="https://vk.com/kancmiropt" title="Группа в вконтакте"><i class="fa fa-vk"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Kanzoboz.ru counter-->
        <a href="https://kanzoboz.ru/?rate=504730"><img src="http://rating.kanzoboz.ru/?id=504730" width="88" height="31" border="0" alt="Рейтинг канцелярских компаний" style="float: right; margin-right: 5%"></a>
        <!--/ Kanzoboz.ru counter-->
    </footer>

    {% block scripts %}
        {% csrf_token %}
        {% javascript 'libs' %}
        {% javascript 'vuecart' %}
        {% javascript 'vue-vendors' %}
        {% javascript 'vue' %}
        {% javascript 'frontend' %}
    {% endblock %}
</body>
</html>
