{% load static pipeline pages_tag %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="{% block meta_description %}{% endblock %}">


    <title>{% block page_title %}{% endblock %}</title>

    {% block styles %}
        {% stylesheet 'libs' %}
        {% stylesheet 'frontend' %}
    {% endblock styles %}
</head>

<body class="{% spaceless %}{% block body_class %}{% endblock %}{% endspaceless %}">
    <header class="header__section">
        <div class="header-panel--wrapper">
            <div class="header-panel">
                <div class="header-slogan">Все для творчества, школы и офиса</div>
                <div class="header-auth">{% if user.is_authenticated %}<span>{{ user.username }}</span> | <a href="{% url 'logout' %}">Выйти</a>{% else %}<a href="{% url 'login' %}">Авторизация</a>{% endif %}</div>
            </div>
        </div>
        <div class="header-container--wrapper">
            <div class="header-container">
                <div class="header-logo">
                    <a class="header-logo--link" href="/">
                        <img srcset="{% static 'frontend/images/logo.png' %} 1x, {% static 'frontend/images/logo_2x.png' %} 2x, {% static 'frontend/images/logo_3x.png' %} 3x" src="{% static 'frontend/images/logo.png' %}" alt="logo">
                    </a>
                </div>

                <div class="header-search--wrapper">
                    <div class="header-search">
                        {% spaceless %}
                            <input id="header-search" type="text" name="q" placeholder="Введите код или название товара..." autocomplete="off">
                            <button class="header-search--button"></button>
                        {% endspaceless %}
                    </div>
                </div>

                <div class="header-phone">
                    <a class="header-phone--link" href="tel:84967128194">8 (4967) 12-81-94</a>
                </div>
            </div>
        </div>
    </header>

    <nav class="navbar__section">
        <div class="navbar-container">
            <ul class="navbar-menu">
                {% for category in categories %}
                    <li class="navbar-menu--root-item">
                        <a href="{{ category.get_absolute_url }}">{{ category }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% if user.is_authenticated %}
                <div class="navbar-cart">
                    <a id="cart-full-price" class="navbar-cart--link" href="{% url 'cart' %}" data-cart-id="{{ cart.pk }}">{{ cart.amount|price|default:'0' }}</a>
                </div>
            {% endif %}
        </div>
    </nav>

    <div class="colored-line"></div>

    {% block breadcrumbs %}
        <div class="breadcrumbs__section">
            <div class="breadcrumbs-container">
                <ul class="breadcrumbs"></ul>
            </div>
        </div>
    {% endblock %}

    <main class="main__section">
        <div class="main-container">
            {% block content %}
            {% endblock content %}
        </div>
    </main>

    <footer class="footer__section">
      <div class="footer-container">
        <div class="footer-col">
          <h2>Помощь покупателю</h2>
              <span>Как сделать заказ</span>
              <span>Как зарегистрироваться</span>
              <span>Оплата </span>
              <span>Доставка</span>
        </div>
        <div class="footer-col">
          <h2>Информация для покупателей</h2>
          <span>Политика конфеденциальности</span>
          <span>Оптовикам</span>

        </div>
        <div class="footer-col">
          <h2>О компании</h2>
          <span>Контакты</span>
          <span>О нас</span>

        </div>
        <div class="footer-col">
          <h2>Связаться с нами</h2>
          
        </div>

      </div>
    </footer>

    {% block scripts %}
        {% javascript 'libs' %}
        {% javascript 'frontend' %}
    {% endblock %}
</body>
</html>
