{% extends "pages/frontend/base.html" %}

{% load static thumbnail pages_tag %}


{% block breadcrumbs %}
    <div class="breadcrumbs__section">
        <div class="breadcrumbs-container">
            <ul class="breadcrumbs">
                {% for ancestor in category.get_ancestors %}
                    <li class="breadcrumbs--item"><a href="{{ ancestor.get_absolute_url }}">{{ ancestor.title }}</a></li>
                    {% if not forloop.last %}
                        <li class="breadcrumbs--item separator"></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}



{% block content %}
    <h1 class="main--title">{{ category.title }}</h1>

    {% if category.get_children %}
        <div class="sub-categories-container">
            {% spaceless %}
            <ul class="sub-categories--list">
                {% for sub_category in category.get_children %}
                    <li class="sub-categories--item">
                        <div class="sub-category rounded clickable">
                            <a class="sub-category--link" href="{{ sub_category.get_absolute_url }}">{{ sub_category }}</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% endspaceless %}
        </div>
    {% endif %}

    {% if has_offers %}
    <div class="category-container">
        <div class="category-filters rounded">
            <form action="" method="GET">
                <div class="category-filters--filters">
                    <div class="offer-filter--wrapper">
                        <h3 class="offer-filter--title">Цена</h3>
                        <div class="offer-filter--price">
                            <div class="offer-filter--price-min">
                                <input id="offer-filter--price-min"
                                       data-price="{{ prices.retail_price__min }}"
                                       type="text" name="minCost"
                                       value="{{ form_search.minCost.value|default:prices.retail_price__min }}">
                            </div>
                            <div class="offer-filter--price-max">
                                <input id="offer-filter--price-max"
                                       data-price="{{ prices.retail_price__max }}"
                                       type="text" name="maxCost"
                                       value="{{ form_search.maxCost.value|default:prices.retail_price__max }}"></div>
                        </div>
                        <div id="offer-filter--price-slider"></div>
                    </div>

                    {% for field in form_search %}
                        {% if field.name != 'minCost' and field.name != 'maxCost' %}
                            <div class="offer-filter--wrapper">
                                <h3 class="offer-filter--title">{{ field.label }}</h3>
                                <div class="offer-filter--">
                                    {{ field }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="category-filters--button"><button class="submit" type="submit" name="search-offers">Найти</button></div>
            </form>
        </div>
        <div class="category-content">
            <div class="category-offers">
                {% for offer in offers %}
                    <div class="category-offers--item rounded clickable">
                        <div class="offer-image">
                            <a href="{{ offer.get_absolute_url }}">
                                {% thumbnail offer.product.image '160x160' as offer_image %}
                                    <img src="{{ offer_image.url }}" alt="{{ offer.title }}" class="product-item">
                                {% empty %}
                                    <img src="{% static 'frontend/images/placeholder.png' %}" alt="{{ offer.title }}" class="product-item">
                                {% endthumbnail %}
                            </a>
                        </div>
                        <div class="offer-info">
                            <h3 class="offer-info--title"><a class="offer-info--title--link" href="{{ offer.get_absolute_url }}">{{ offer.title }}</a></h3>
                            <div class="offer-info--offer-code">Код: {{ offer.product.article }}</div>
                            {% if offer.product.property_values.all %}
                                <div class="offer-info--offer-properties">
                                    {% for prop in offer.product.property_values.all %}
                                        <div class="offer-info--offer-property">{{ prop.property }}: {{ prop }}</div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="offer-price">
                            <div class="offer-price--price{% if offer.retail_price %} has_price{% endif %}">{{ offer.retail_price|price|default:'Нет цены' }}</div>
                            <div class="offer-price--availability">
                                Наличие: <span>{% for rest in offer.rests.all %}<span title="{{ rest.warehouse }}">{{ rest }}</span>{% if not forloop.last %} | {% endif %}{% endfor %}</span>
                            </div>
                            <div class="offer-price--cart">
                                <a class="add-cart">В корзину</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% if is_paginated %}
                <div class="category-offers--paginator--wrapper">
                    {% spaceless %}
                    <ul class="category-offers--paginator rounded">
                        <li class="category-offers--paginator--page previous-page">
                            {% if page_obj.has_previous %}
                                <a href="?{{ page_kwarg }}={{ page_obj.previous_page_number }}"></a>
                            {% else %}
                                <span></span>
                            {% endif %}
                        </li>

                        {% for page_num in paginator.page_range %}
                            <li class="category-offers--paginator--page">
                                {% if page_obj.number == page_num %}
                                    <span>{{ page_num }}</span>
                                {% else %}
                                    <a href="?{{ page_kwarg }}={{ page_num }}">{{ page_num }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}

                        <li class="category-offers--paginator--page next-page">
                            {% if page_obj.has_next %}
                                <a href="?{{ page_kwarg }}={{ page_obj.next_page_number }}"></a>
                            {% else %}
                                <span></span>
                            {% endif %}
                        </li>
                    </ul>
                    {% endspaceless %}
                </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
{% endblock content %}
