{% extends "pages/frontend/base.html" %}

{% load static thumbnail pages_tag mptt_tags %}


{% block content %}
<div class="index-offers__section">
    <div class="block-title--wrapper"><h2 class="block-title">Поиск по тэгу {{ tags_title.tegs|lower }}</h2></div>
    <div class="index-offers--wrapper">
        {% for offer in favorite_offers %}
            <div class="category-offers--item rounded clickable">
                <div class="offer-image">
                    <a href="{{ offer.get_absolute_url }}">
                        {% thumbnail offer.product.image '160x160' as offer_image %}
                            <img src="{{ offer_image.url }}" alt="{{ offer.full_title }}" class="product-item">
                        {% empty %}
                            <img src="{% static 'frontend/images/placeholder.png' %}" alt="{{ offer.full_title }}" class="product-item">
                        {% endthumbnail %}
                    </a>
                </div>
                <div class="offer-info">
                    <h3 class="offer-info--title"><a class="offer-info--title--link" href="{{ offer.get_absolute_url }}">{{ offer.full_title }}</a></h3>
                    <div class="offer-info--offer-code">Код: {{ offer.product.article }}</div>
                </div>
                <div class="offer-price">
                    <div class="offer-price--price{% if offer.retail_price %} has_price{% endif %}">{{ offer.retail_price|price|default:'Нет цены' }}</div>
                    <div class="offer-price--availability">
                        Наличие: <span>{% for rest in offer.rests.all %}<span title="{{ rest.warehouse }}">{{ rest }}</span>{% if not forloop.last %} | {% endif %}{% endfor %}</span>
                    </div>

                    <offer-price
                        offer-id="{{ offer.id }}"
                        offer-article="{{ offer.product.article }}"
                        :offer-price="{{ offer.retail_price | stringformat:'g' }}"
                        @offer-added="updateNavbarCart"
                        @offer-limit-error="showLimitError"
                    ></offer-price>

                    <div class="likely-on-page">
                        <div class="likely" data-url="{{ request.scheme }}://{{ request.get_host }}{{ offer.get_absolute_url }}" data-media="{{ request.scheme }}://{{ request.get_host }}{% if offer.product.image %}{{ offer.product.image.url }}{% endif %}" data-title="{{ offer.full_title }}">
                            <div class="vkontakte" title="Поделится вконтакте">Вконтакте</div>
                            <!--<div class="facebook" title="Поделится facebook">facebook</div>-->
                            <div class="odnoklassniki" title="Класснуть">Класснуть</div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}