{% extends "pages/frontend/base.html" %}

{% load static thumbnail pages_tag %}


{% block content %}
    <h1 class="main--title">Наши контакты</h1>

    {% for office in office_list %}
        <div class="offce-container rounded">
            <h3 class="offce--title">{{ office.title }}</h3>
            <ul class="offce-contact">
                <li class="offce-contact--phone">{{ office.phone }}</li>
                <li class="offce-contact--email"><a href="mailto:{{ office.email }}">{{ office.email }}</a></li>
                <li class="offce-contact--address">{{ office.address }}</li>
            </ul>
            {% if office.coordinates %}
                <div class="office-map" data-coords="{{ office.yandexmap_coords }}"><div class="map"></div></div>
            {% endif %}
        </div>
    {% endfor %}
    <div class="rekvisits">
          <h3 class="offce--title">Реквизиты</h3> 
          <div class="data-rekvisits">
            <p><b>Наименование:</b> Индивидуальный предприниматель Картузова Светлана Ивановна</p>
            <p><b>ИНН:</b> 504302573520</p>
            <p><b>ОГРН:</b> 306504317400029</p>
            <p><b>БАНК:</b> Филиал "Центральный" Банка ВТБ (ПАО) в г. Москве</p>
            <p><b>к/с:</b> 30101810145250000411</p>
            <p><b>БИК:</b> 044525411</p>
            <p><b>р/с:</b> 40802810800000027228</p>
            <p>На основании свидетельства 50 №010044219</p>
            <p><b>Почта:</b> 128194@mail.ru</p>
          </div>
    </div>
{% endblock content %}

        

{% block scripts %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    {{ block.super }}
{% endblock %}
