{% extends "pages/frontend/base.html" %}

{% load pages_tag %}


{% block body_class %}history_page{% endblock %}


{% block breadcrumbs %}
    <div class="breadcrumbs__section">
        <div class="breadcrumbs-container">
            <ul class="breadcrumbs">
                <li class="breadcrumbs--item"><a href="{% url 'account:index' %}">Личный кабинет</a></li>
                <li class="breadcrumbs--item separator"></li>
                <li class="breadcrumbs--item"><a href="{% url 'account:history' %}">Мои заказы</a></li>
            </ul>
        </div>
    </div>
{% endblock %}


{% block content %}
    <h1 class="main--title">Заказ №{{ order.pk }} от {{ order.created|date:'d.m.Y' }}</h1>
    <div class="history-container rounded">
        <div class="history-order--status">Статус заказа: {{ order.get_status_display }}</div>
        <table class="history-order--table">
            <thead>
                <tr>
                    <th>Код</th>
                    <th>Товар</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Итого</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items.all %}
                    <tr>
                        <td>{{ item.offer.product.article }}</td>
                        <td><a href="{{ item.offer.get_absolute_url }}">{{ item }}</a></td>
                        <td><span class="nowrap">{{ item.unit_price|price }} руб.</span></td>
                        <td>{{ item.quantity }}</td>
                        <td><span class="nowrap">{{ item.total_price|price }} руб.</span></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span class="nowrap">{{ order.amount_without_delivery|price }} руб.</span></td>
                </tr>
            </tbody>
        </table>
        <div class="history-order--amount">Стоимость доставки: <strong>{{ order.delivery_price|default:'0'|price }} руб.</strong></div>
        <div class="history-order--amount">Полная стоимость: <strong>{{ order.amount|price }} руб.</strong></div>

        {% if can_pay %}
            <br>

            <div class="cart-container">
                <form method="POST">{% csrf_token %}
                    <div class="order-form">
                        {{ form.non_field_errors }}

                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                        <div class="order-field-row">
                            {{ form.payment_method_data.label_tag }}
                            {{ form.payment_method_data }}
                            {{ form.payment_method_data.errors }}
                        </div>

                        <div class="order-field-row">
                            {{ form.phone.label_tag }}
                            {{ form.phone }}
                            {{ form.phone.errors }}
                        </div>

                        <div class="order-field-row">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                            {{ form.email.errors }}
                        </div>

                        <div class="submit-row"><button class="submit" type="submit">Оплатить</button></div>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}
