{% extends "pages/frontend/base.html" %}

{% load static thumbnail pages_tag %}


{% block content %}
    <div class="index-slider__section">
        <div class="index-slider">
            <div class="swiper-container" >
                <div class="swiper-wrapper">
                    {% for slider in slider_list %}
                    <div class="swiper-slide">
                        {% if slider.url %}<a href="{{ slider.url }}">{% endif %}
                            <img src="{{ slider.image.url }}" alt="">
                            {% if slider.content %}
                                <div class="slide-bg" style="background-color: {{ slider.background }}">
                                    <h1>{{ slider.title }}</h1>
                                    {{ slider.content|linebreaks }}
                                    {% if slider.discount %}
                                        <h3>{{ slider.discount }}</h3>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% if slider.url %}</a>{% endif %}
                    </div>
                    {% endfor %}
                    <div class="swiper-pagination"></div>
                </div>

                <div class="swiper-pagination"></div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>

    <style>
        .video__iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}

.video__iframe video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}
    </style>

    <div class="index-catalog__section">
        <ul class="index-catalog">
                {% if imgcategory.0.video %}
                <li class="index-catalog--category-video id-eb694445-9016-11e4-becf-001e6702ee3e">
                    <a class="index-catalog--category-link" href="/catalog/bumaga-i-kantstovaryi/">
                        <span class="link-title"> БУМАГА  и  КАНЦТОВАРЫ</span>
			<div class="index-catalog--category-bg">
			<video controls width="100%" height="auto">
                               <source src="{{ imgcategory.0.video.url }}" type="video/mp4">
  			       <source src="{{ imgcategory.0.video.url }}" type="video/webm">
  			       <source src="{{ imgcategory.0.video.url }}" type="video/ogg">
			</video>
                        </div>
                    </a>
                </li>
                {% else %}
                <li class="index-catalog--category id-eb694445-9016-11e4-becf-001e6702ee3e">
                    <a class="index-catalog--category-link" href="/catalog/bumaga-i-kantstovaryi/">
                        <span class="link-title"> БУМАГА  и  КАНЦТОВАРЫ</span>
                        <div class="index-catalog--category-bg" style="background-image: url({{ imgcategory.0.img.url }})"></div>
                    </a>
                </li>
                {% endif %}
                {% if imgcategory.1.video %}
                <li class="index-catalog--category-video id-482be32a-a2ac-11e3-a4a4-001e6702ee3e">
                    <a class="index-catalog--category-link" href="/catalog/kresla-i-stulya/">
                        <span class="link-title"> КРЕСЛА И СТУЛЬЯ</span>
                        <video controls width="100%" height="auto" >
                               <source src="{{ imgcategory.1.video.url }}" type="video/mp4">
  			       <source src="{{ imgcategory.1.video.url }}" type="video/webm">
  			       <source src="{{ imgcategory.1.video.url }}" type="video/ogg">
			</video>
                    </a>
                </li>
                {% else %}
                <li class="index-catalog--category id-482be32a-a2ac-11e3-a4a4-001e6702ee3e">
                    <a class="index-catalog--category-link" href="/catalog/kresla-i-stulya/">
                        <span class="link-title"> КРЕСЛА И СТУЛЬЯ</span>
                        <div class="index-catalog--category-bg" style="background-image: url({{ imgcategory.1.img.url }})"></div>
                    </a>
                </li>
                {% endif %}
                {% if imgcategory.2.video %}
                <li class="index-catalog--category-video id-dc611350-8ff9-11e4-b5d8-001e6702ee3e">
                    <a class="index-catalog--category-link" href="/catalog/hobbi-i-tvorchestvo/">
                        <span class="link-title"> ХОББИ  и ТВОРЧЕСТВО</span>
                        <video controls width="100%" height="auto" >
                               <source src="{{ imgcategory.2.video.url }}" type="video/mp4">
  			       <source src="{{ imgcategory.2.video.url }}" type="video/webm">
  			       <source src="{{ imgcategory.2.video.url }}" type="video/ogg">
			</video>
                    </a>
                </li>
                {% else %}
                <li class="index-catalog--category id-dc611350-8ff9-11e4-b5d8-001e6702ee3e">
                    <a class="index-catalog--category-link" href="/catalog/hobbi-i-tvorchestvo/">
                        <span class="link-title"> ХОББИ  и ТВОРЧЕСТВО</span>
                        <div class="index-catalog--category-bg" style="background-image: url({{ imgcategory.2.img.url }})"></div>
                    </a>
                </li>
                {% endif %}
                {% if imgcategory.3.video %}
                <li class="index-catalog--category-video id-43ea0dcb-ad21-11db-a2b2-00c09fa8f069">
                    <a class="index-catalog--category-link" href="/catalog/hoztovaryi-ofisnaya-kuhnya/">
                        <span class="link-title"> ХОЗТОВАРЫ</span>
                        <video controls width="100%" height="auto" >
                               <source src="{{ imgcategory.3.video.url }}" type="video/mp4">
  			       <source src="{{ imgcategory.3.video.url }}" type="video/webm">
  			       <source src="{{ imgcategory.3.video.url }}" type="video/ogg">
			</video>
                    </a>
                </li>
                {% else %}
                <li class="index-catalog--category id-43ea0dcb-ad21-11db-a2b2-00c09fa8f069">
                    <a class="index-catalog--category-link" href="/catalog/hoztovaryi-ofisnaya-kuhnya/">
                        <span class="link-title"> ХОЗТОВАРЫ</span>
                        <div class="index-catalog--category-bg" style="background-image: url({{ imgcategory.3.img.url }})"></div>
                    </a>
                </li>
                {% endif %}
        </ul>
    </div>

    <div class="index-offers__section">
        <div class="block-title--wrapper"><h2 class="block-title">Новинки</h2></div>
        <div class="index-offers--wrapper">
            {% for offer in favorite_offers %}
                <div class="category-offers--item rounded clickable">
                    <div class="offer-image">
                        <a href="{{ offer.get_absolute_url }}">
                            {% thumbnail offer.product.image '160x160' as offer_image %}
                                <img src="{{ offer_image.url }}" alt="{{ offer.full_title }}" class="product-item">
                            {% empty %}
                                <img src="{% static 'frontend/images/placeholder.png' %}" alt="{{ offer.full_title }}" class="product-item">
                            {% endthumbnail %}
                        </a>
                    </div>
                    <div class="offer-info">
                        <h3 class="offer-info--title"><a class="offer-info--title--link" href="{{ offer.get_absolute_url }}">{{ offer.full_title }}</a></h3>
                        <div class="offer-info--offer-code">Код: {{ offer.product.article }}</div>
                    </div>
                    <div class="offer-price">
                        <div class="offer-price--price{% if offer.retail_price %} has_price{% endif %}">{{ offer.retail_price|price|default:'Нет цены' }}</div>
                        <div class="offer-price--availability">
                            Наличие: <span>{% for rest in offer.rests.all %}<span title="{{ rest.warehouse }}">{{ rest }}</span>{% if not forloop.last %} | {% endif %}{% endfor %}</span>
                        </div>

                        <offer-price
                            offer-id="{{ offer.id }}"
                            offer-article="{{ offer.product.article }}"
                            :offer-price="{{ offer.retail_price | stringformat:'g' }}"
                            @offer-added="updateNavbarCart"
                            @offer-limit-error="showLimitError"
                        ></offer-price>

                        <div class="likely-on-page">
                            <div class="likely" data-url="{{ request.scheme }}://{{ request.get_host }}{{ offer.get_absolute_url }}" data-media="{{ request.scheme }}://{{ request.get_host }}{% if offer.product.image %}{{ offer.product.image.url }}{% endif %}" data-title="{{ offer.full_title }}">
                                <div class="vkontakte" title="Поделится вконтакте">Вконтакте</div>
                                <!--<div class="facebook" title="Поделится facebook">facebook</div>-->
                                <div class="odnoklassniki" title="Класснуть">Класснуть</div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <!-- about container -->
    <div class="index-about__section">
      <div class="block-title--wrapper"><h2 class="block-title">О нас</h2></div>
      <div class="index-about">

        <div class="about-picture">
        <img src="/static/frontend/images/kan.jpg" alt="">
        </div>
        <div class="about-text">
        <p>Наша компания начала свою работу на рынке канцелярских товаров в 2003 году.
          Это был маленький отдел в магазине компьютерной техники.</p><p>
         Постепенно мы росли и развивались. На сегодняшний день мы являемся одним из ведущих поставщиков товаров для офиса,
          учебы и творчества. Мы самостоятельно импортируем товары из Китая и плодотворно сотрудничаем с ведущими Российскими
          производителями.</p>
          <p>
          В 2017 году мы запустили собственное производство школьной галантереи ( пеналы, фартуки, мешки для обуви).
           Всем своим клиентам мы стараемся предложить минимально низкие цены и максимально высокое качество товара и обслуживания.
            Мы работаем как с розничными так и с оптовыми покупателями. С условиями сотрудничества вы можете ознакомиться на нашем
            сайте Будем рады видеть вас в числе наших постоянных покупателей!</p>
          <a href="{% url 'pages:static' 'о-компании' %}" class="button-about">Узнать больше</a>
        </div>
      </div>
    </div>


{% endblock content %}
