{% extends "pages/frontend/base.html" %}

{% load static thumbnail pages_tag %}


{% block content %}
<div class="index-slider__section"> <!-- slider start-->
  <div class="index-slider">
    <div class="swiper-container" >
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <a href="http://kancmiropt.ru/%D0%BA%D0%B0%D1%82%D0%B0%D0%BB%D0%BE%D0%B3/e4d98da7-1a51-11e8-855b-4ccc6a067fb0/">
            <img src="/static/frontend/images/sl4.jpg" alt="">
          <div class="slide-bg c-bg-or">
                <h1>СОБСТВЕННОЕ ПРОИЗВОДСТВО!!!</h1>
                <p>(Пеналы, папки, и друга школьная галантерея)</p>
                
            </div>
        </a>
        </div>
        <div class="swiper-slide">
          <a href="http://kancmiropt.ru/%D1%82%D0%BE%D0%B2%D0%B0%D1%80/ba52cf64-6e86-11e6-879b-002522e3f9cf/">
          	<img src="/static/frontend/images/sl1.jpg" alt="">
          <div class="slide-bg">
        		<h1>Папки-файлы БЮРОКРАТ</h1>
        		<p>При покупке от двух пачек Эконом А4 (1000шт), Код: 00092018</p>
        		<h3>Cкидка 5%!</h3>
        	</div>
        </a>
        </div>
        <div class="swiper-slide">
          <a href="http://kancmiropt.ru/%D0%BA%D0%B0%D1%82%D0%B0%D0%BB%D0%BE%D0%B3/dc611350-8ff9-11e4-b5d8-001e6702ee3e/">
            <img src="/static/frontend/images/sl2.jpg" alt="">
          <div class="slide-bg c-bg-ye">
                <h1>Участники мастер-классов</h1>
                <p>В день проведения мероприятия получают скидки на товары для творчества</p>
                <h3>5%!</h3>
            </div>
        </a>
        </div>
        <div class="swiper-slide">
          <a href="http://kancmiropt.ru/%D0%BA%D0%B0%D1%82%D0%B0%D0%BB%D0%BE%D0%B3/4957ba41-ba57-11db-a2c6-00c09fa8f069/">
            <img src="/static/frontend/images/sl3.jpg" alt="">
          <div class="slide-bg c-bg-red">
                <h1>При покупке школьного ранца или рюкзака</h1>
                <p>Скидка на канцтовары</p>
                <h3>5% , или "спиннер" в подарок!</h3>
            </div>
        </a>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>
  </div>
</div>

 <!-- slider end-->

    <div class="index-catalog__section">
        <ul class="index-catalog">
            {% for category in categories %}
                <li class="index-catalog--category id-{{ category.pk }}">
                    <a class="index-catalog--category-link" href="{{ category.get_absolute_url }}">
                        <span class="link-title">{{ category }}</span>
                        <div class="index-catalog--category-bg"></div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="index-offers__section">
        <div class="block-title--wrapper"><h2 class="block-title">Новинки</h2></div>
        <div class="index-offers--wrapper">
            {% for offer in favorite_offers %}
                <div class="category-offers--item rounded clickable">
                    <div class="offer-image">
                        <a href="{{ offer.get_absolute_url }}">
                            {% thumbnail offer.product.image '160x160' as offer_image %}
                                <img src="{{ offer_image.url }}" alt="{{ offer.title }}" class="product-item">
                            {% empty %}
                                <img src="{% static 'frontend/images/placeholder.png' %}" alt="{{ offer.title }}" class="product-item">
                            {% endthumbnail %}
                        </a>
                    </div>
                    <div class="offer-info">
                        <h3 class="offer-info--title"><a class="offer-info--title--link" href="{{ offer.get_absolute_url }}">{{ offer.title }}</a></h3>
                        <div class="offer-info--offer-code">Код: {{ offer.product.article }}</div>
                    </div>
                    <div class="offer-price">
                        <div class="offer-price--price{% if offer.retail_price %} has_price{% endif %}">{{ offer.retail_price|price|default:'Нет цены' }}</div>
                        <div class="offer-price--availability">
                            Наличие: <span>{% for rest in offer.rests.all %}<span title="{{ rest.warehouse }}">{{ rest }}</span>{% if not forloop.last %} | {% endif %}{% endfor %}</span>
                        </div>
                        <div class="offer-price--cart">
                            <div class="offer-price--quantity">
                                <input class="quantity" type="text" value="1">
                            </div>
                            <a href="#" class="add-cart" data-offer-id="{{ offer.id }}" data-offer-price="{{ offer.retail_price }}">В корзину</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <!-- about container -->
    <div class="index-about__section">
      <div class="block-title--wrapper"><h2 class="block-title">О нас</h2></div>
      <div class="index-about">

        <div class="about-picture">
        <img src="/static/frontend/images/kan.jpg" alt="">
        </div>
        <div class="about-text">
        <p>Наша компания начала свою работу на рынке канцелярских товаров в 2003 году.
          Это был маленький отдел в магазине компьютерной техники.</p><p>
         Постепенно мы росли и развивались. На сегодняшний день мы являемся одним из ведущих поставщиков товаров для офиса,
          учебы и творчества. Мы самостоятельно импортируем товары из Китая и плодотворно сотрудничаем с ведущими Российскими
          производителями.</p>
          <p>
          В 2017 году мы запустили собственное производство школьной галантереи ( пеналы, фартуки, мешки для обуви).
           Всем своим клиентам мы стараемся предложить минимально низкие цены и максимально высокое качество товара и обслуживания.
            Мы работаем как с розничными так и с оптовыми покупателями. С условиями сотрудничества вы можете ознакомиться на нашем
            сайте Будем рады видеть вас в числе наших постоянных покупателей!</p>
          <a href="{% url 'pages:static' 'о-компании' %}" class="button-about">Узнать больше</a>
        </div>
      </div>
    </div>


{% endblock content %}
