{% extends "pages/frontend/base.html" %}


{% block content %}
<div class="index-slider__section"> <!-- slider start-->
  <div class="index-slider">
    <div class="swiper-container" >
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><a href="#"><img src="/static/frontend/images/sl1.jpg" alt=""></a></div>
        <div class="swiper-slide"><a href="#"><img src="/static/frontend/images/sl2.jpg" alt=""></a></div>
        <!--<div class="swiper-slide">Slide 3</div>
        ...-->
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>
  </div>
</div>

 <!-- slider end-->

    <div class="index-catalog__section">
        <ul class="index-catalog">
            {% for category in categories %}
                <li class="index-catalog--category id-{{ category.pk }}">
                    <a class="index-catalog--category-link" href="{{ category.get_absolute_url }}">
                        <span class="link-title">{{ category }}</span>
                        <div class="index-catalog--category-bg"></div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- product container -->
    <div class="index-product__section">
      <div class="index-product">
        <h1>Новинки</h1>
        <div class="index-pr rounded">
          <a href="#"><img src="" alt=""></a>
          <p>Ручка гелевая</p>
        </div>
        <div class="index-pr rounded">
          <a href="#"><img src="" alt=""></a>
          <p>Ручка гелевая</p>
        </div>
        <div class="index-pr rounded">
          <a href="#"><img src="" alt=""></a>
          <p>Ручка гелевая</p>
        </div>
        <div class="index-pr rounded">
          <a href="#"><img src="" alt=""></a>
          <p>Ручка гелевая</p>
        </div>
        <div class="index-pr rounded">
          <a href="#"><img src="" alt=""></a>
          <p>Ручка гелевая</p>
        </div>
        <div class="index-pr rounded">
          <a href="#"><img src="" alt=""></a>
          <p>Ручка гелевая</p>
        </div>
        <div class="index-pr rounded">
          <a href="#"><img src="" alt=""></a>
          <p>Ручка гелевая</p>
        </div>
        <div class="index-pr rounded">
          <a href="#"><img src="" alt=""></a>
          <p>Ручка гелевая</p>
        </div>
      </div>
    </div>
    <!-- product container end-->

    <!-- about container -->
    <div class="index-about__section">
      <div class="index-about">
        <h1>О нас</h1>
        <!--<img src="/static/frontend/images/kan.jpg" alt="">-->
        <p>Наша компания начала свою работу на рынке канцелярских товаров в 2003 году. Это был маленький отдел в магазине компьютерной техники. Постепенно мы росли и развивались На сегодняшний день мы являемся одним из ведущих поставщиков товаров для офиса, учебы и творчества. Мы самостоятельно импортируем товары из Китая и плодотворно сотрудничаем с ведущими Российскими производителями. В 2017 году мы запустили собственное производство школьной галантереи ( пеналы, фартуки, мешки для обуви). Всем своим клиентам мы стараемся предложить минимально низкие цены и максимально высокое качество товара и обслуживания. Мы работаем как с розничными так и с оптовыми покупателями. С условиями сотрудничества вы можете ознакомиться на нашем сайте Будем рады видеть вас в числе наших постоянных покупателей!</p>
          <a href="#" class="button-about">Узнать больше</a>
      </div>
    </div>


{% endblock content %}
