<h2>Заказ номер {{ order.pk }}</h2>

<table border="1">
    <thead>
        <tr>
            <th>Товар</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Итого</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            <tr>
                <td><a href="http://{{ site }}{{ item.offer.get_absolute_url }}">{{ item }}</a></td>
                <td>{{ item.unit_price }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.total_price }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<p>Полная стоимость: <strong>{{ order.amount }}</strong></p>
