{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="content-kat">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="bread-cums">
                        <p><a href="#">Главная </a> / <a href="#">Каталог </a></p>
                    </div>
                    <h2>Категории</h2>
                    <div class="col1">
                        <div class="col-sm-2">
                            <div class="kat">
                            <a href="#"><img src="img/lists/бумажная продукция.jpg" alt="">
                            <hr>
                            <h5>Бумажная продукция</h5></a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="kat">
                            <a href="#"><img src="img/lists/фотобумага.jpg" alt="">
                            <hr>
                            <h5>Фотобумага и пленки</h5></a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                           <div class="kat">
                            <a href="#"><img src="img/lists/фотоальбомы фоторамки.jpg" alt="">
                            <hr>
                            <h5>Фотоальбомы и фоторамки</h5></a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="kat">
                            <a href="#"><img src="img/lists/канцтовары.jpg" alt="">
                            <hr>
                            <h5>Товары для офиса, канцтовары</h5></a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="kat">
                            <a href="#"><img src="img/lists/писменные принадлежности.png" alt="">
                            <hr>
                            <h5>Письменные и чертежные принадлежности</h5></a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="kat">
                            <a href="#"><img src="img/lists/папки и архив.jpg" alt="">
                            <hr>
                            <h5>Папки и архивация</h5></a>
                            </div>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="col-sm-2">
                            <div class="kat">
                            <a href="#"><img src="img/lists/демонстрационное оборуд.jpg" alt="">
                            <hr>
                            <h5>Демонстрационное оборудование</h5></a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="kat">
                            <a href="#"><img src="img/lists/расх.jpg" alt="">
                            <hr>
                            <h5>Офисная техника и расходные материалы</h5></a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="kat">
                            <a href="#"><img src="img/lists/мебель.png" alt="">
                            <hr>
                            <h5>Мебель</h5></a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="kat">
                            <a href="#"><img src="img/lists/товары для школы.jpg" alt="">
                            <hr>
                            <h5>Товары для школы</h5></a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="kat">
                            <a href="#"><img src="img/lists/игры детские.jpg" alt="">
                            <hr>
                            <h5>Товары для детей, книги</h5></a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="kat">
                            <a href="#"><img src="img/lists/худ школа.jpg" alt="">
                            <hr>
                            <h5>Художественные материалы</h5></a>
                            </div>
                        </div>
                    </div>
                    <div class="col3">
                        <div class="col-sm-2">
                            <div class="kat">
                            <a href="#"><img src="img/lists/творчество.jpg" alt="">
                            <hr>
                            <h5>Рукоделие и творчество</h5></a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="kat">
                            <a href="#"><img src="img/lists/suveniry.png" alt="">
                            <hr>
                            <h5>Подарки и сувениры</h5></a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="kat">
                            <a href="#"><img src="img/lists/хозтовары.png" alt="">
                            <hr>
                            <h5>Хоз.товары и паковочные материалы</h5></a>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
{% endblock content %}
