{% extends "base.html" %}

{% load static thumbnail pages_tag %}

{% block content %}

<section class="s-products">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="bread-crumbs">
                    <p>
                        <a href="/">Главная</a>
                        {% for ancestor in object.get_ancestors %}
                            / <a href="{{ ancestor.get_absolute_url }}">{{ ancestor.title }}</a>
                        {% endfor %}
                        / <span class="active">{{ object.title }}</span>
                    </p>
                </div>

                <!--<div class="owl-carousel categories">
                    {% for descendant in object.get_children %}
                    <li class="product-wrapper-filter">
                        <a href="{{ descendant.get_absolute_url }}" class="product">
                            <div class="product-photo">
                                <img src="{% static 'images/lists/бумажная продукция.jpg' %}" alt="" class="product-item">
                            </div>
                            <div class="product-text">
                                <h2 class="product-text-name-category">{{ descendant.title }}</h2>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </div>-->
                <div class="list-category">
                      {% for descendant in object.get_children %}

                  <div class="col-sm-4">

                    <h2><a href="{{ descendant.get_absolute_url }}">{{ descendant.title }}</a></h2>
                    {% for children in descendant.get_children %}
                    <ul>
                      <li><a href="{{ children.get_absolute_url }}">{{ children }}</a></li>

                    </ul>
                    {% endfor %}
                  </div>

              {% endfor %}

              <div class="clearfix"></div>
                <!--  <div class="col-sm-4">
                    <h2>Заголовок</h2>
                    <ul>
                      <li>Продукция</li>
                      <li>Продукция</li>
                      <li>Продукция</li>
                      <li>Продукция</li>
                      <li>Продукция</li>
                    </ul>
                  </div>
                  <div class="col-sm-4">
                    <h2>Заголовок</h2>
                    <ul>
                      <li>Продукция</li>
                      <li>Продукция</li>
                      <li>Продукция</li>
                      <li>Продукция</li>
                      <li>Продукция</li>
                    </ul>
                  </div>
                <div class="clearfix"></div>
                <div class="col-sm-4">
                  <h2>Заголовок</h2>
                  <ul>
                    <li>Продукция</li>
                    <li>Продукция</li>
                    <li>Продукция</li>
                    <li>Продукция</li>
                    <li>Продукция</li>
                  </ul>
                </div>
                <div class="col-sm-4">
                  <h2>Заголовок</h2>
                  <ul>
                    <li>Продукция</li>
                    <li>Продукция</li>
                    <li>Продукция</li>
                    <li>Продукция</li>
                    <li>Продукция</li>
                  </ul>
                </div>
                <div class="col-sm-4">
                  <h2>Заголовок</h2>
                  <ul>
                    <li>Продукция</li>
                    <li>Продукция</li>
                    <li>Продукция</li>
                    <li>Продукция</li>
                    <li>Продукция</li>
                  </ul>
                </div>-->
                </div>


                {% if has_offers %}
                <form action="" method="GET">
                    <div class="col-sm-3 filter">
                        <div class="filter-group">
                            <h3>Цена</h3>
                            <label for="minCost">От</label><input type="text" name="minCost" value="{{ form_search.minCost.value|default:price__min }}" data-price="{{ price__min }}" id="minCost">
                            <label for="maxCost">До</label><input type="text" name="maxCost" value="{{ form_search.maxCost.value|default:price__max }}" data-price="{{ price__max }}" id="maxCost">
                            <div class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" id="slider"></div>
                        </div>

                        {% for field in form_search %}
                            {% if field.name != 'minCost' and field.name != 'maxCost' %}
                                <div class="filter-group">
                                    <h3>{{ field.label }}</h3>
                                    <div class="check-group">
                                        <p>{{ field }}</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <button type="submit" name="button">Найти</button>
                    </div>
                </form>
                {% endif %}


                <div class="col-sm-9">
                    <div class="filter-view">
                        <div class="col-sm-4 view-product">
                            <p>Вид: </p>
                            <span><i class="fa fa-list"></i></span>
                            <span><i class="fa fa-th"></i></span>
                        </div>
                        <!--
                        <div class="col-sm-4 sort-by">
                            <p>Сортировать по <select class="" name="">
                                <option>Цена </option>
                                <option>Цена </option>
                                <option>А-Я </option>
                                <option>Я-А </option>
                            </select></p>
                        </div>
                        <div class="col-sm-4 view-by">
                            <p>Показывать товаров <select class="" name="">
                                <option>10 </option>
                                <option>30 </option>
                                <option>50 </option>
                                <option>100 </option>
                            </select></p>
                        </div>
                        -->
                    </div>

                    <div class="col-sm-12">
                        <ul class="clearfix table-layout">
                            {% for offer in offers %}
                                <li class="product-wrapper">
                                    <a href="{{ offer.get_absolute_url }}" class="product">
                                        <div class="product-main">
                                            <div class="product-photo">
                                                {% thumbnail offer.product.image '250x250' crop='center' as offer_image %}
                                                    <img src="{{ offer_image.url }}" alt="{{ offer.title }}" class="product-item">
                                                {% empty %}
                                                    <img src="{% static 'images/placeholder.jpg' %}" alt="{{ offer.title }}" class="product-item">
                                                {% endthumbnail %}

                                                <div class="product-preview">
                                                    <span class="button">Быстрый просмотр</span>
                                                </div>
                                            </div>
                                            <div class="product-text">
                                                <h2 class="product-text-name">{{ offer.title }}</h2>
                                                <div class="article">Код: {{ offer.product.article }}</div>
                                                {% if offer.product.property_values.all %}
                                                    <ul class="dad">
                                                        {% for prop in offer.product.property_values.all %}
                                                            <li>{{ prop.property }}: {{ prop }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                                <!--<div class="product-icons">
                                                    <div class="product-icons-item">
                                                        <span class="fa fa-heart-o"></span>
                                                        <span class="product-icons-item-text">В избранное</span>
                                                    </div>
                                                    <div class="product-icons-item">
                                                        <span class="fa fa-balance-scale"></span>
                                                        <span class="product-icons-item-text">В сравнение</span>
                                                    </div>
                                                </div>-->
                                            </div>
                                        </div>

                                        <div class="product-details">
                                            <div class="product-details-availability">
                                                {% if offer.rests.all %}
                                                    <span>Остаток: {% for rest in offer.rests.all %}<span title="{{ rest.warehouse }}">{{ rest }}</span>{% if not forloop.last %} | {% endif %}{% endfor %}</span>
                                                {% else %}
                                                    <span>Нет в наличии</span>
                                                {% endif %}
                                            </div>
                                            <span class="product-details-price">
                                                <b>{{ offer.retail_price|price }}</b>
                                            </span>
                                            <div class="product-details-buttons">
                                                <div class="buttons">
                                                    <span class="button to-cart"><i class="fa fa-shopping-cart"></i>В корзину</span>
                                                    <span class="button"><i class="fa fa-cart"></i>Купить в 1 клик</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
