{% extends "base.html" %}

{% load static %}


{% block content %}
    <section class="s-sale">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="owl-carousel carousel-sale">

                <div class="carousel-sale-item">
                    <div class="carousel-sale-foto"><img src="{% static 'images/main-slide.jpg' %}" alt="Скидки"></div>
                    <div class="carousel-sale-description">
                        <p>Готовимся к школе<br>Скидки до 30% на <br> школьные принадлежности</p>
                        <span>С 30 августа по 30 сентября</span>
                    </div>
                </div>
                <div class="carousel-sale-item">
                    <div class="carousel-sale-foto"><img src="{% static 'images/main-slide.jpg' %}" alt="Скидки"></div>
                    <div class="carousel-sale-description">
                        <p>Готовимся к школе<br>Скидки до 30% на <br> школьные принадлежности</p>
                        <span>С 30 августа по 30 сентября</span>
                    </div>
                </div>
                <div class="carousel-sale-item">
                    <div class="carousel-sale-foto"><img src="{% static 'images/main-slide.jpg' %}" alt="Скидки"></div>
                    <div class="carousel-sale-description">
                        <p>Готовимся к школе<br>Скидки до 30% на <br> школьные принадлежности</p>
                        <span>С 30 августа по 30 сентября</span>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="s-products hit">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    <h2 class="text-center">Товары недели</h2>
                    <ul class="products clearfix">
                        {% for product in hot %}
                            <li class="product-wrapper">
                                <a href="{% url 'pages:product' product.pk %}" class="product">

                                    <div class="product-photo">
                                        <img src="{% static 'images/icon_hit.png' %}" alt="" class="sticker">
                                        <img src="{% static 'images/nedeli/111.jpg' %}" alt="" class="product-item">
                                        <div class="product-preview">
                                            <span class="button">Быстрый просмотр</span>
                                        </div>
                                    </div>
                                    <div class="product-text">
                                        <h2 class="product-text-name">{{ product.title }}</h2>
                                        <div class="product-icons">
                                            <div class="product-icons-item">
                                                <span class="fa fa-heart-o"></span>
                                                <span class="product-icons-item-text">В избранное</span>
                                            </div>
                                            <div class="product-icons-item">
                                                <span class="fa fa-balance-scale"></span>
                                                <span class="product-icons-item-text">В сравнение</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-details">
                                        <div class="product-details-availability">
                                            <span><i class="fa fa-check"></i> В наличии</span>
                                        </div>
                                        <!--
                                        <span class="product-details-price-old">
                                            <b>720</b><small>руб.</small>
                                        </span>
                                        -->
                                        <span class="product-details-price">
                                            <b>{{ product.price }}</b>
                                        </span>
                                        <div class="product-details-buttons">
                                            <div class="buttons">
                                                <span class="button to-cart"><i class="fa fa-shopping-cart"></i>В корзину</span>
                                                <span class="button"><i class="fa fa-cart"></i>Купить в 1 клик</span>
                                            </div>
                                        </div>
                                    </div>

                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="s-compilation">
        <div class="container">
            <div class="row">

                <div class="col-sm-3">
                    <div class="compilation-group">
                        <div class="compil-a">
                            <a href="#">
                              <span>Бумага, канцтовары </span>
                              <img src="{% static 'images/kategorii main/bumaga.png' %}" alt="Бумага, канцтовары">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="compilation-group">
                        <div class="compil-b">
                          <a href="#">
                            <span>Товары для рукоделия и творчества</span>
                            <img src="{% static 'images/kategorii main/tvorchestvo.png' %}" alt="">
                          </a>
                        </div>
                        <div class="compil-b">
                          <a href="#">
                            <span>Мебель офисная</span>
                            <img src="{% static 'images/kategorii main/office.jpg' %}" alt="">
                          </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="compilation-group">
                      <a href="#">
                        <div class="compil-a">
                            <span>Хозтовары</span>
                            <img src="{% static 'images/kategorii main/hoz.png' %}" alt="">
                        </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="s-products new">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    <h2 class="text-center">Новинки</h2>
                    <ul class="products clearfix">
                        {% for product in hot %}
                            <li class="product-wrapper">
                                <a href="{% url 'pages:product' product.pk %}" class="product">

                                    <div class="product-photo">
                                        <img src="{% static 'images/icon-new.gif' %}" alt="" class="sticker">
                                        <img src="{% static 'images/nedeli/111.jpg' %}" alt="" class="product-item">
                                        <div class="product-preview">
                                            <span class="button">Быстрый просмотр</span>
                                        </div>
                                    </div>
                                    <div class="product-text">
                                        <h2 class="product-text-name">{{ product.title }}</h2>
                                        <div class="product-icons">
                                            <div class="product-icons-item">
                                                <span class="fa fa-heart-o"></span>
                                                <span class="product-icons-item-text">В избранное</span>
                                            </div>
                                            <div class="product-icons-item">
                                                <span class="fa fa-balance-scale"></span>
                                                <span class="product-icons-item-text">В сравнение</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-details">
                                        <div class="product-details-availability">
                                            <span><i class="fa fa-check"></i> В наличии</span>
                                        </div>
                                        <!--
                                        <span class="product-details-price-old">
                                            <b>720</b><small>руб.</small>
                                        </span>
                                        -->
                                        <span class="product-details-price">
                                            <b>{{ product.price }}</b>
                                        </span>
                                        <div class="product-details-buttons">
                                            <div class="buttons">
                                                <span class="button to-cart"><i class="fa fa-shopping-cart"></i>В корзину</span>
                                                <span class="button"><i class="fa fa-cart"></i>Купить в 1 клик</span>
                                            </div>
                                        </div>
                                    </div>

                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="s-about">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-center">О нас</h2>
                    <p>Наша компания начала свою работу на рынке канцелярских товаров в 2003 году. Это был маленький отдел в магазине компьютерной техники. Постепенно мы росли и развивались На сегодняшний день мы являемся одним из ведущих поставщиков товаров для офиса, учебы и творчества. Мы самостоятельно импортируем товары из Китая и плодотворно сотрудничаем с ведущими Российскими производителями. В 2017 году мы запустили собственное производство школьной галантереи ( пеналы, фартуки, мешки для обуви). Всем своим клиентам мы стараемся предложить минимально низкие цены и максимально высокое качество товара и обслуживания. Мы работаем как с розничными так и с оптовыми покупателями. С условиями сотрудничества вы можете ознакомиться на нашем сайте Будем рады видеть вас в числе наших постоянных покупателей!
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
