{% extends "base.html" %}

{% load static %}


{% block content %}
    <div class="my-content">
        <section class="s-sale">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="owl-carousel carousel-sale">
                    
                    <div class="carousel-sale-item">
                        <div class="carousel-sale-foto"><img src="{% static 'images/main-slide.jpg' %}" alt="Скидки"></div>
                        <div class="carousel-sale-description">
                            <p>Готовимся к школе<br>Скидки до 30% на <br> школьные принадлежности</p>
                            <span>С 30 августа по 30 сентября</span>
                        </div>
                    </div>
                    <div class="carousel-sale-item">
                        <div class="carousel-sale-foto"><img src="{% static 'images/main-slide.jpg' %}" alt="Скидки"></div>
                        <div class="carousel-sale-description">
                            <p>Готовимся к школе<br>Скидки до 30% на <br> школьные принадлежности</p>
                            <span>С 30 августа по 30 сентября</span>
                        </div>
                    </div>
                    <div class="carousel-sale-item">
                        <div class="carousel-sale-foto"><img src="{% static 'images/main-slide.jpg' %}" alt="Скидки"></div>
                        <div class="carousel-sale-description">
                            <p>Готовимся к школе<br>Скидки до 30% на <br> школьные принадлежности</p>
                            <span>С 30 августа по 30 сентября</span>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="s-week"> <!-- tovari nedeli nachalo -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                            <h2 class="h2 text-center">Товары недели</h2>
                    </div>
                    <div class="col-sm-12">
                        {% for product in hot %}
                        <div class="col-sm-3"> <!-- товар 1-->
                            <div class="prod">
                                <a href="{% url 'pages:product' product.pk %}">
                                    <div class="foto">
                                        <img class="sticker" src="{% static 'images/icon_hit.png' %}">
                                        <img src="{% static 'images/nedeli/1879488.jpg' %}">
                                    </div>
                                    <p>{{ product.title }}</p>
                                    <span>{{ product.price }}</span>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <section class="s-compilation"> <!-- kategorii nachalo -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-3"> 
                            <div class="cat h">
                                <span>Все для свадьбы</span>
                                <img src="{% static 'images/kategorii main/img-20150817110608-359.jpg' %}">
                            </div>
                        </div>
                        <div class="col-sm-6 h"> 
                            <div class="cat hh"> 
                                <span>Все для детей</span>
                                <img src="{% static 'images/kategorii main/507.jpg' %}" alt="">
                            </div>
                            <div class="cat hh b">
                                <span> Все для офиса</span>
                                <img src="{% static 'images/kategorii main/review-slider-blurry-PrismHR-office-banner.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="cat h">
                                <span>Все для художника</span>
                                    <img src="{% static 'images/kategorii main/художникам.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="s-new"> <!-- novinki nachalo -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="h2 text-center">Новинки</h2>
                        <div class="col-sm-4 tov">
                                <div class="new">
                                    <img  src="{% static 'images/New-Starburst-1024x910.gif' %}" alt="" >
                                </div>
                                <img src="{% static 'images/nedeli/816S2kQwHqL._SL1500_.jpg' %}" alt="">
                                <p>Спиннер, игрушка интимстресс</p>
                                <span>190 руб</span>
                        </div>
                            <div class="col-sm-8 tov">
                            <div class="col-sm-3 l">
                                <div class="tov-l">
                                    <div class="new">
                                        <img src="{% static 'images/New-Starburst-1024x910.gif' %}" alt="">
                                    </div>
                                    <div class="kartinka">
                                        <img src="{% static 'images/nedeli/g27515331562.jpg' %}" alt="">
                                        <p> Портфель деловой</p>
                                        <span>1 074 руб</span>
                                    </div>
                                </div>
                                <div class="tov-l">
                                    <div class="new">
                                        <img src="{% static 'images/New-Starburst-1024x910.gif' %}" alt="">
                                    </div>
                                    <div class="kartinka">
                                        <img src="{% static 'images/nedeli/g27515331562.jpg' %}" alt="">
                                        <p> Портфель деловой</p>
                                        <span>1 074 руб</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 l">
                                <div class="tov-l">
                                    <div class="new">
                                        <img src="{% static 'images/New-Starburst-1024x910.gif' %}" alt="">
                                    </div>
                                    <div class="kartinka">
                                        <img src="{% static 'images/nedeli/g27515331562.jpg' %}" alt="">
                                        <p> Портфель деловой</p>
                                        <span>1 074 руб</span>
                                    </div>
                                </div>
                                <div class="tov-l">
                                    <div class="new">
                                        <img src="{% static 'images/New-Starburst-1024x910.gif' %}" alt="">
                                    </div>
                                    <div class="kartinka">
                                        <img src="{% static 'images/nedeli/g27515331562.jpg' %}" alt="">
                                        <p> Портфель деловой</p>
                                        <span>1 074 руб</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 l">
                                <div class="tov-l">
                                    <div class="new">
                                        <img src="{% static 'images/New-Starburst-1024x910.gif' %}" alt="">
                                    </div>
                                    <div class="kartinka">
                                        <img src="{% static 'images/nedeli/g27515331562.jpg' %}" alt="">
                                        <p> Портфель деловой</p>
                                        <span>1 074 руб</span>
                                    </div>
                                </div>
                                <div class="tov-l">
                                    <div class="new">
                                        <img src="{% static 'images/New-Starburst-1024x910.gif' %}" alt="">
                                    </div>
                                    <div class="kartinka">
                                        <img src="{% static 'images/nedeli/g27515331562.jpg' %}" alt="">
                                        <p> Портфель деловой</p>
                                        <span>1 074 руб</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 l">
                                <div class="tov-l">
                                    <div class="new">
                                        <img src="{% static 'images/New-Starburst-1024x910.gif' %}" alt="">
                                    </div>
                                    <div class="kartinka">
                                        <img src="{% static 'images/nedeli/g27515331562.jpg' %}" alt="">
                                        <p> Портфель деловой</p>
                                        <span>1 074 руб</span>
                                    </div>
                                </div>
                                <div class="tov-l">
                                    <div class="new">
                                        <img src="{% static 'images/New-Starburst-1024x910.gif' %}" alt="">
                                    </div>
                                    <div class="kartinka">
                                        <img src="{% static 'images/nedeli/g27515331562.jpg' %}" alt="">
                                        <p> Портфель деловой</p>
                                        <span>1 074 руб</span>
                                    </div>
                                </div>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="text"> <!-- o komoanii -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="zagolovok">
                            <h2 class="h2 text-center">О нас</h2>
                        </div>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
