{% extends "base.html" %}

{% load static thumbnail %}

{% block content %}
    <section class="s-cart">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="bread-crumbs">
                        <p>
                            <a href="/">Главная</a> /
                            {% for ancestor in object.product.categories.first.get_ancestors %}
                                <a href="{{ ancestor.get_absolute_url }}">{{ ancestor.title }}</a> /
                            {% endfor %}
                            <a href="{{ object.product.categories.first.get_absolute_url }}">{{ object.product.categories.first }}</a> /
                            <span class="active">{{ object.title }}</span>
                        </p>
                    </div>
                    <div class="col-sm-8 cart">
                        <h2 class="h2">{{ object.title }}</h2>
                        <!--
                        <span class="rate"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> / <a href="#">13 Отзывов</a></span>
                        -->
                        <div class="main-photo">
                            {% thumbnail object.product.image '350x400' upscale=False as offer_image %}
                                <img src="{{ offer_image.url }}" alt="{{ object.title }}">
                            {% empty %}
                                <img src="{% static 'images/placeholder.jpg' %}" alt="{{ object.title }}">
                            {% endthumbnail %}
                        </div>
                        <div class="col-sm-10 col-sm-offset-1">
                            <!--
                            <div class="owl-carousel cart-prices">
                                <div class="cart-price">
                                    <img src="img/tov/step.jpg">
                                </div>
                                <div class="cart-price">
                                    <img src="img/tov/step.jpg">
                                </div>
                                <div class="cart-price">
                                    <img src="img/tov/step.jpg">
                                </div>
                                <div class="cart-price">
                                    <img src="img/tov/step.jpg">
                                </div>
                                <div class="cart-price">
                                    <img src="img/tov/step.jpg">
                                </div>
                                <div class="cart-price">
                                    <img src="img/tov/step.jpg">
                                </div>
                                <div class="cart-price">
                                    <img src="img/tov/step.jpg">
                                </div>
                            </div>
                            -->
                        </div>
                    </div>
                    <div class="col-sm-4 cart-l">
                        <p class="cen">Цена: {{ object.price }}</p><hr>
                        <a href="#" class="button">В корзину</a>
                        <p class="dos">Остаток: {% for rest in offer.rest_list %}<span title="{{ rest.warehouse }}">{{ rest }}</span>{% if not forloop.last %} | {% endif %}{% endfor %}</p>
                        <p class="dos">Как получить товар?</p>
                        <p class="dos"><i class="fa fa-child"></i>самовывоз</p>
                        <p class="dos"><i class="fa fa-car"></i>доставка</p><hr>
                        <p>Код: {{ object.product.article }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="harak">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 har">
                    <div class="tabs">
                        <ul class="tabs__caption">
                            <li class="active">Характеритики</li>
                            <!--
                            <li>Отзывы</li>
                            -->
                        </ul>
                        <div class="tabs__content active">
                            {% if object.features %}
                                <ul class="conta">
                                    {% for prop in object.features %}
                                        <li>{{ prop.property }}: {{ prop }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <!--
                        <div class="tabs__content">
                            <div class="blok-otziv">
                                <div class="col-sm-3">
                                    <h4><b>Александ</b></h4>
                                    <p>12.09.2017</p>
                                    <p class="time">12:22:56</p>
                                </div>
                                <div class="col-sm-8 ">
                                <p class="otziv">Иногда приходилось скреплять очень большое количество листов бумаги. И мне и нашим коллегам приходилось испытывать неудобства, так как приходилось выдумывать некоторые неловкие способы чтобы скрепить большой документ. Начальство по заявкам приобрело нам этот прибор, это не обычный привычный взгляду степлер, это качественный удобный на большой...</p>
                                </div> 
                            </div>
                            <div class="blok-otziv">
                            <div class="col-sm-3">
                                <h4><b>Николай</b></h4>
                                <p>02.08.2016</p>
                                <p class="time">16:34:53</p>
                            </div>
                            <div class="col-sm-8 ">
                            <p class="otziv">Иногда приходилось скреплять очень большое количество листов бумаги. И мне и нашим коллегам приходилось испытывать неудобства, так как приходилось выдумывать некоторые неловкие способы чтобы скрепить большой документ. Начальство по заявкам приобрело нам этот прибор, это не обычный привычный взгляду степлер, это качественный удобный на большой...</p>
                            </div>
                            </div> 
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
