{% extends "pages/frontend/base.html" %}

{% load pages_tag %}


{% block body_class %}cart_page{% endblock %}


{% block navbar_cart %}{% endblock %}

{% block main_id %}cart-app{% endblock %}

{% block content %}
    <h1 class="main--title">Ваша корзина</h1>
    <div class="cart-container rounded">
        <form method="POST">{% csrf_token %}
            {% for item_form in form %}
                {% with item_form.offer as offer %}
                    <cart-offer
                        name="{{ item_form.prefix }}-{{ item_form.quantity.name }}"
                        limit="{{ offer.rest_limit }}"
                        offer-id="{{ offer.id }}"
                        article="{{ offer.product.article }}"
                        title="{{ offer }}"
                        link="{{ offer.get_absolute_url }}"
                        init-quantity="{{ item_form.quantity.value }}"
                        price="{{ offer.retail_price }}"></cart-offer>
                {% endwith %}
            {% endfor %}





            <div class="field-row">
                {{ order_form.comment.label_tag }}
                {{ order_form.comment }}
                {{ order_form.comment.errors }}
            </div>

            <div class="cart-info">
                <div class="cart-info--save">
                    <button class="submit" type="submit" name="_save">Сохранить изменения</button>
                    <button class="reset" type="submit" name="_reset">Очистить корзину</button>
                </div>
                <div class="cart-info--price">= {{ cart.amount|default:'0'|price }}</div>
                <div class="cart-info--send">
                    <button class="submit" type="submit" name="_submit">Оформить заказ</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
