{% extends 'pages/frontend/password/base.html' %}
{% load i18n %}


{% block content %}
    <h1 class="main--title">Сбрс пароля</h1>

    <div class="registration-form rounded">
        {% if invalid %}
            <p>Извините, эта ссылка для сброса пароля недействительна. <a href="{% url 'account:password_recovery' %}">Попробовать снова</a>.</p>
        {% else %}
            <p>Здравствуйте, <strong>{{ username }}</strong>. Пожалуйста, задайте новый пароль</p>

            <form id="registration-form" method="POST" action="{{ url }}">{% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {{ form.non_field_errors }}

                <div class="field-row">
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                    {{ form.password1.errors }}
                </div>

                <div class="field-row">
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                </div>

                <div class="submit-row"><button class="submit" type="submit">Установить новый пароль</button></div>
            </form>
        {% endif %}
    </div>
{% endblock %}
